@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
        <div class="LuisCeballos animate__animated animate__backInUp">
            <h1>Hello!</h1>


            <h1>I am Luis Ceballos</h1>

        </div>

        <div class="container-fluid">
        </div>


    </div>
    
</div>


    