.navbar-container {
    backdrop-filter: blur(5px); /* Apply blur effect to the background */
    background-color: rgba(128, 128, 128, 0); /* Add transparency to the background */
    height: 100px;
    align-items: center;
}


.navbar-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.nav-link {
    color: dimgrey;
    font-size: large;   

}

.move-left {
    margin-right: auto;
}

